:root {
  --background-color: #ffffff;
  --primary-color: #e66a53;
  --success-color: rgb(29, 175, 54);
  --progress: rgb(235, 181, 32);
}

* {
  box-sizing: border-box;
}

/*body {
   margin: 0;
    height: 100%;
    width: 100vw; 
    background-color: rgba(0, 0, 0, 0.08);
    font-family: Arial; 
   display: flex; 
} */

.steps {
  /* width: auto; */
  /* box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3); */
  background-color: #fff;
  padding: 24px 0;
  position: relative;
  margin: auto;
}

.steps::before {
  content: "";
  position: absolute;
  top: 0;
  height: 24px;
  width: 1px;
  background-color: rgb(198, 198, 198);
  left: calc(50px / 2);
  z-index: 1;
}

.steps::after {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: rgb(198, 198, 198);
  /* box-shadow: 0px 0px 5px 0px var(--primary-color); */
  border-radius: 15px;
  left: calc(50px / 2);
  bottom: 24px;
  transform: translateX(-45%);
  z-index: 2;
}
/* step berhasil line sebelumnya */
.steps-success {
  /* width: auto; */
  /* box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3); */
  /* background-color: rgb(17, 211, 98); */
  padding: 24px 0;
  position: relative;
  margin: auto;
}
/* .steps-success::before {
  content: "";
  position: absolute;
  top: 0;
  height: 24px;
  width: 1px;
  background-color: var(--success-color);
  left: calc(50px / 2);
  z-index: 1;
} */

.steps-success::after {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: var(--progress);
  /* box-shadow: 0px 0px 5px 0px var(--primary-color); */
  border-radius: 15px;
  left: calc(50px / 2);
  bottom: 24px;
  transform: translateX(-45%);
  z-index: 2;
}

.step {
  padding: 0 20px 24px 50px;
  position: relative;
  transition: all 0.4s ease-in-out;
  background-color: #fff;
}

.step::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: rgb(198, 198, 198);

  border-radius: 15px;
  left: calc(50px / 2);
  transform: translateX(-45%);
  z-index: 2;
}

.step::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgb(198, 198, 198);

  left: calc(50px / 2);
  top: 0;
  z-index: 1;
}
.step-success {
  padding: 0 20px 24px 50px;
  position: relative;
  transition: all 0.4s ease-in-out;
  background-color: #fff;
}
.step-success::before {
  content: "";
  position: absolute;
  height: 13px;
  width: 13px;
  /* background-color: rgb(198, 198, 198); */
  background-color: var(--success-color);
  border-radius: 15px;
  left: calc(50px / 2);
  transform: translateX(-45%);
  z-index: 2;
}

.step-success::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  /* background-color: rgb(198, 198, 198); */
  background-color: var(--success-color);
  left: calc(50px / 2);
  top: 0;
  z-index: 1;
}

.step.minimized {
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.header {
  user-select: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.subheader {
  user-select: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

.step-content {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
}

.step.minimized > .step-content {
  height: 0px;
}

.step-content.one {
  height: 460px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-top: 10px;
}

.step-content.two {
  height: 600px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-top: 10px;
}

.step-content.three {
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-top: 10px;
}

.next-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: red;
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: rgb(255, 0, 255);
  box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

/* Irrelevant styling things */
.close-btn:hover {
  background-color: rgba(255, 0, 255, 0.6);
}

.close-btn:focus {
  outline: 0;
}

.next-btn:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

.next-btn:focus {
  outline: 0;
}

.step.minimized:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.containerr {
  margin: 10px 10px 10px !important;
}
/*
  */
